<!DOCTYPE html>
<html>
<head>
    <title>Two</title>
</head>
<body>
    <div style="text-align: center; margin-top: 10px; text-decoration: none; color: steelblue; margin-bottom: 20px;">
        {% extends 'base.html' %}
        {% block content %}
    </div>
    
    <div style="text-align: center; font-family: sans-serif; background-color: gray; color: black; border-radius: 10px; padding-top: 20px; padding-bottom: 20px;">
        <h2>Apple</h2>
        <p>
            Think different
        </p>
    </div>

    <div style="text-align: center; margin-top: 40px;">
        <img src="https://allaboutstevejobs.com/resources/img/pics/1976-01-01_00030.jpg" width="500px" height="550px" style="border-radius: 10px;">
    </div>
    {% endblock content %}

</body>
</html>