<!DOCTYPE html>
<html>
<head>
    <title>Three</title>
</head>
<body>
    <div style="text-align: center; margin-top: 10px; text-decoration: none; color: steelblue; ">
        {% extends 'base.html' %}
        {% block content %}
    </div>
    <div style="text-align: center; font-family: sans-serif; color: white; background-color: blue; border-radius: 10px;">
        <h2>Microsoft</h2>
        <p>
            We believe in what people make possible.
        </p>
    </div>

    <div style="text-align: center; margin-top: 50px;">
        <img src="https://images.zoomboola.com/1152x864/p/images/content/2023/5/2/by-the-age-of-40-bill-gates-has-become-the-richest-man-in-the-world_64.jpg" width="400px" height="300px" style="border-radius: 10px;">
    </div>
    {% endblock content %}

</body>
</html>